---
layout: default
title: Home
---


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 bg-light p-2">
            <span class="profile-image-wrapper">
                <a href="/about/" class="btn bg-transparent rounded-circle" style="padding: 0;" role="button">
                    <img src="./assets/images/2x2.webp" class="float-left img-thumbnail profile-image-fade"
                        sizealt="Edison Pebojot">
                </a>
            </span>
        </div>
        <div class="col-sm-5 bg-light p-2">
            <span class="desktop__size">
                <h5 style="text-align: left;">Edison Pebojot</h5>
            </span>
            <span class="mobile__size">
                <h5 style="text-align: center;">Edison Pebojot</h5>
            </span>
            <p class="lead" style="text-align: justify;word-break: break-all;">
                Edison Nacional Pebojot (/ˈpəʌbo|jo:tː/) is a software developer. Pebojot was
                raised in the Philippines and attended AMA Computer University. Pebojot has also attended St.
                Patrick’s Academy Inc., a Catholic high school. <sup><a
                        href="https://everipedia.org/wiki/lang_en/edison-pebojot">[Encyclopedia]</a></sup>
            </p>
            <div class="gap-1">
                <a href="https://www.quora.com/profile/Edison-Pebojot" target="blank">
                    <img height="32" width="32" class="float-left" src="./assets/images/quora.logo.webp" alt="Quora">
                </a>
                <a href="https://twitter.com/workpebojot" target="blank">
                    <img height="32" width="32" class="float-left" src="./assets/images/twitter.logo.webp"
                        alt="Twitter">
                </a>
                <a href="https://linkedin.com/in/workpebojot" target="blank">
                    <img height="32" width="32" class="float-left" src="./assets/images/linkedin.logo.webp"
                        alt="LinkedIn">
                </a>
                <a href="https://stackoverflow.com/users/10233884/edison-pebojot?tab=profile" target="blank">
                    <img height="32" width="32" class="float-left" src="./assets/images/stackoverflow.logo.webp"
                        alt="StackOverflow" /></a>
                <a href="https://fb.com/personalpebojot" target="blank">
                    <img height="32" width="32" class="float-left" src="./assets/images/facebook.logo.webp"
                        alt="Facebook" /></a>
                <a href="https://www.codewars.com/users/workpebojot" target="blank">
                    <img height="32" width="32" class="float-left" src="./assets/images/codewars.logo.webp"
                        alt="Codewars" /></a>
                <a href="https://github.com/workpebojot" target="blank">
                    <img height="32" width="32" class="float-left" src="./assets/images/github.logo.webp"
                        alt="Github" /></a>
                <a href="https://play.google.com/store/apps/dev?id=4722505601855473962" target="blank">
                    <img height="32" width="32" class="float-left" src="./assets/images/google.play.logo.webp"
                        alt="Google Play" /></a>
            </div>
        </div>
        <div class="col-sm-4 bg-light p-2">
            <div class="pt-0 pl-3">
                <p class="card-text">
                    <b>Born:</b> Dingalan, Aurora, Philippines
                </p>
                <p class="card-text">
                    <b>Education:</b> <a href="https://en.wikipedia.org/wiki/AMA_Computer_University">AMA Computer
                        University (BS)</a>
                </p>
                </p>
                <p class="card-text">
                    <b>Occupation:</b> Google Play Developer, Software Developer
                </p>
            </div>
            <div style="display: none;">
                <ul class="list-group">
                    {% for post in site.posts %}
                    <li class="list-group-item">
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="mt-3 mb-3" style="border-style: dashed none none none;"></div>
    <div class="mt-3 mb-3">
        <h2 class="display-6" style="text-align: center;">
            Latest Blog
        </h2>
        <h6 class="text-uppercase text-center fw-light">
            Front-End, Back-End, Full Stack, Architecture
        </h6>
    </div>
    <div class="row">
        <div class="col bg-light">
            <div class="list-group m-1">
                {% for post in site.posts %}
                {% if post.latest==true %}
                {% if post.type=="blog" %}
                <a href="{{ post.blog_url }}" class="list-group-item list-group-item-action border-0"
                    style="background-color: transparent">
                    <div class="card mb-3 rounded">
                        <div class="row g-0 d-flex align-items-center">
                            <div class="col-md-6">
                                <img src="{{ post.image_url }}" class="img-thumbnail" alt="{{ post.title }}">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h4 class="card-title">{{ post.title }}</h4>
                                    <span class="desktop__size ">
                                        <p class="card-text lead" style="text-align: justify;">
                                            {{ post.excerpt }}
                                        </p>
                                    </span>
                                    <span class="mobile__size ">
                                        <p class="card-text lead" style="text-align: justify;word-break: break-all;">
                                            {{ post.short_description }}
                                        </p>
                                    </span>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            {{ post.date | date_to_string }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/blog/" class="list-group-item list-group-item-action border-0"
                    style="background-color: transparent">
                    See More
                </a>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="mt-3 mb-3" style="border-style: dashed none none none;"></div>
    <div class="mt-3 mb-3">
        <h2 class="display-6" style="text-align: center;">
            Latest Event
        </h2>
        <h6 class="text-uppercase text-center fw-light">
            Hackathon, Planting, Mathematics, Programming
        </h6>
    </div>
    <div class="row">
        <div class="col bg-light">
            <div class="list-group m-1">
                {% for post in site.posts %}
                {% if post.latest==true %}
                {% if post.type=="event" %}
                <a href="{{ post.event_url }}" class="list-group-item list-group-item-action border-0"
                    style="background-color: transparent">
                    <div class="card mb-3 rounded">
                        <div class="row g-0 d-flex align-items-center">
                            <div class="col-md-6">
                                <img src="{{ post.image_url }}" class="img-thumbnail" alt="{{ post.title }}">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h4 class="card-title">{{ post.title }}</h4>
                                    <span class="desktop__size ">
                                        <p class="card-text lead" style="text-align: justify;">
                                            {{ post.excerpt }}
                                        </p>
                                    </span>
                                    <span class="mobile__size ">
                                        <p class="card-text lead" style="text-align: justify;word-break: break-all;">
                                            {{ post.short_description }}
                                        </p>
                                    </span>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            {{ post.date | date_to_string }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/event/" class="list-group-item list-group-item-action border-0"
                    style="background-color: transparent">
                    See More
                </a>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="mt-3 mb-3" style="border-style: dashed none none none;"></div>
    <div class="mt-3 mb-3">
        <h2 class="display-6" style="text-align: center;">
            Latest Project
        </h2>
        <h6 class="text-uppercase text-center fw-light">
            Linux, Android, Progressive Web App, Package
        </h6>
    </div>
    <div class="row">
        <div class="col bg-light">
            <div class="list-group m-1">
                {% for post in site.posts %}
                {% if post.latest==true %}
                {% if post.type=="project" %}
                <a href="{{ post.project_url }}" class="list-group-item list-group-item-action border-0"
                    style="background-color: transparent">
                    <div class="card mb-3 rounded">
                        <div class="row g-0 d-flex align-items-center">
                            <div class="col-md-6">
                                <img src="{{ post.image_url }}" class="img-thumbnail" alt="{{ post.title }}">
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h4 class="card-title">{{ post.title }}</h4>
                                    <span class="desktop__size ">
                                        <p class="card-text lead" style="text-align: justify;">
                                            {{ post.excerpt }}
                                        </p>
                                    </span>
                                    <span class="mobile__size ">
                                        <p class="card-text lead" style="text-align: justify;word-break: break-all;">
                                            {{ post.short_description }}
                                        </p>
                                    </span>
                                    <p class="card-text">
                                        <small class="text-muted">
                                            {{ post.date | date_to_string }}
                                        </small>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/project/" class="list-group-item list-group-item-action border-0"
                    style="background-color: transparent">
                    See More
                </a>
                {% endif %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>