<div id="menu-tab" style="visibility: hidden;display: none;">
    <h4>Content</h4>
    <div style="border-style: dashed none none none;"></div>
    <a href="/blog/" class="btn" tabindex="-1" role="button" aria-disabled="false">
        <h5 class="fw-light">Blog</h5>   
    </a><br>
    <a href="/event/" class="btn" tabindex="-1" role="button" aria-disabled="false">
        <h5 class="fw-light">Event</h5>  
    </a><br>
    <a href="/project/" class="btn" tabindex="-1" role="button" aria-disabled="false">
        <h5 class="fw-light">Project</h5>    
    </a>
</div>
<div id="menu-content" style="visibility: visible;" class="tab-pane container {% if page.url==item.link %}active{% endif %}">
    {{ content }}
</div>